.App {
  text-align: center;
  background-color: bisque;
  height: 100vh;
  .layer {
    display: block;
    background-color: bisque;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    .header {
      background-color: aquamarine;
      box-sizing: border-box;

      .containers {
        display: flex;
        .start {
          flex: 1;
          text-align: left;
          border: 1px solid black;
        }
        .center {
          flex: 1;
          text-align: center;
          border: 1px solid black;
        }
        .end {
          flex: 1;
          text-align: right;
          border: 1px solid black;
        }
      }
    }
    .content {
      background-color: yellow;
    }
    .card {
      display: inline-block;
      border: 1px solid black;
      width: 100px;
      height: 100px;
      margin: 5px 0;
      background-color: burlywood;
    }
  }
}
