.App {
  text-align: center;
  background-color: bisque;
  height: 100vh;
  .layer {
    display: block;
    background-color: bisque;
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    .head {
      background-color: aquamarine;
      border: 1px solid black;
    }
    .content {
      background-color: yellow;
      border: 1px solid black;
      border-top: none;
    }
    .card {
      display: inline-block;

      width: 100px;
      height: 100px;
      border: 1px solid black;
      text-align: center;
      margin: 5px 0;
      background-color: burlywood;
    }
  }
}
